.chat-content {
  height: calc(100% - 75px) !important;
  padding-top: 70px;
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-end;
}
.chat-content .message-area {
  z-index: 2;
  padding: 0 25px;
  background-color: rgba(226,226,226,1);
  flex: 1;
}
.chat-content .message-area .message {
  width: calc(100% - 60px) !important;
}
.chat-content .message-area .send-btn{
  position: relative;
  min-width: 60px !important;
  width: 60px !important;
  height: 60px !important;
  padding: 0 !important;
  border-radius: 110px !important;
  text-align: center !important;
  margin-top: 15px !important;
  transition: all ease-out 0.2s;
}
.chat-content .message-display {
  z-index: 1;
  /* position: absolute; */
  /* bottom: 10%; */
  flex: 6 !important;
  overflow-y: scroll;
}
.chat-content .message-display .message-chip-left{
  float: left;
  clear: both;
  padding: 5px 0;
  width: 100%;
  display: flex;
  align-content: center;
}
.chat-content .message-display .message-chip-left .user-avatar {
  width: 32px !important;
  height: 32px !important;
  margin-left: 2px !important;
  background-color: blue !important;
}
.chat-content .message-display .message-chip-left .user-chip {
  color: white !important;
  margin-left: 4px !important;
  background-color: blue !important;
  max-width: 60% !important;
}

.chat-content .message-display .message-chip-right{
  float: left;
  clear: both;
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-content: center;
}
.chat-content .message-display .message-chip-right .user-avatar {
  width: 32px !important;
  height: 32px !important;
  margin-right: 2px !important;
  background-color: green !important;
}
.chat-content .message-display .message-chip-right .user-chip {
  color: white !important;
  margin-right: 4px !important;
  background-color: green !important;
  max-width: 60% !important;
}
.user-chip span{
  white-space: normal !important;
  line-height: 20px !important;
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  padding: 0px 15px !important; 
  user-select: text !important;
}
.user-chip {
  height: auto !important;
  user-select: text !important;
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0) !important;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(200,200,200,0.5) !important;
  border-radius: 24px !important;
  filter: drop-shadow(4px 2px rgba(100,100,100,0.8));
}
::-webkit-scrollbar {
  width: 12px !important;
}