.music-content {
  padding-top: 80px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}
.music-content .now-playing-card {
  display: flex !important;
  width: 100% !important;
}
.music-content .now-playing-card .details {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.music-content .now-playing-card .content {
  padding: 2px 50px 0 15px !important;
  flex: 1 0 auto;
}
.now-playing-card h1 {
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}
.music-content .now-playing-card .controls {
   display: flex;
   flex-direction: row;
}
.music-content .now-playing-card .play-icon {
  width: 38px;
  height: 38px;
}
.music-content .now-playing-card .cover {
   min-width: 160px;
   min-height: 160px;
   height: 151px;
   width: 151px;
   background-color: rgba(200,200,200,0.4);
   justify-content: center;
   align-content: center;
   display: flex;
}
.music-content .now-playing-card .cover img{
  position: relative !important;
  width: auto !important;
  height: 100% !important;
}

.music-content .now-playing-card .seek {
  z-index: 4 !important;
}
.music-queue {
  max-height: 400px !important;
  background-color: rgba(190,190,250,0.3);
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.add-song {
  width: calc(100% - 36px) !important;
  margin-left: 18px !important;
  padding-top: 0 !important;
}

audio::-webkit-media-controls-play-button {
  display: none;
}

audio::-webkit-media-controls-panel {
  background-color: rgba(0, 0, 0, 0) !important;
  margin-left: 15px;
  margin-top: -6px !important;
}
audio {
  width: calc(100% - 30px) !important;
}
h4 {
  text-align: center;
  margin: 6px 0;
  font-size: 10px;
  font-weight: 400;
}